## 1. Import / inspection

In [35]:
# Importation de bibliothèque
import pandas as pd
import numpy as np

# Chargement des données
customers = pd.read_csv("customers.csv")
products = pd.read_csv("products.csv")
orders = pd.read_csv("order_lines.csv")

In [36]:
# Inspection globale
for name, df in zip(["customers", "products", "orders"], [customers, products, orders]):
    print(f"\n===== {name.upper()} =====")
    print(f"Le dataset {name.capitalize()} est de dimension {df.shape}")

===== CUSTOMERS =====
Le dataset Customers est de dimension (500, 6)

===== PRODUCTS =====
Le dataset Products est de dimension (60, 5)

===== ORDERS =====
Le dataset Orders est de dimension (2225, 18)

In [37]:
# Inspection globale
for name, df in zip(["customers", "products", "orders"], [customers, products, orders]):
    print(f"\n===== {name.upper()} =====")
    print(df.info())

===== CUSTOMERS =====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  500 non-null    object
 1   age          500 non-null    object
 2   gender       490 non-null    object
 3   city         485 non-null    object
 4   segment      500 non-null    object
 5   signup_date  500 non-null    object
dtypes: object(6)
memory usage: 23.6+ KB
None

===== PRODUCTS =====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    60 non-null     object
 1   category      60 non-null     object
 2   brand         60 non-null     object
 3   product_name  60 non-null     object
 4   unit_price    60 non-null     float64
dtypes: float64(1), object(4)
memory usage: 2.5+ KB
None

===== ORDERS =====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2225 entries, 0 to 2224
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          2225 non-null   object
 1   customer_id       2225 non-null   object
 2   product_id        2225 non-null   object
 3   order_date        2225 non-null   object
 4   quantity          2225 non-null   int64
 5   unit_price        2225 non-null   float64
 6   discount_pct      2225 non-null   float64
 7   gross_amount      2225 non-null   float64
 8   net_amount        2225 non-null   float64
 9   payment_method    2225 non-null   object
 10  channel           2225 non-null   object
 11  marketing_source  2225 non-null   object
 12  delivery_days     2181 non-null   float64
 13  returned          2225 non-null   int64
 14  review_score      2115 non-null   float64
 15  segment           2225 non-null   object
 16  city              2155 non-null   object
 17  category          2225 non-null   object
dtypes: float64(6), int64(2), object(10)
memory usage: 313.0+ KB
None

In [41]:
# Inspection globale
for name, df in zip(["customers", "products", "orders"], [customers, products, orders]):
    print(f"\n===== {name.upper()} =====")
    print(df.describe())

===== CUSTOMERS =====
       customer_id  age gender            city   segment signup_date
count          500  500    490             485       500         500
unique         500   36      3              16         4         386
top          C0136   16      F  Port-au-Prince  Étudiant  2023-11-27
freq             1   40    235             135       182           3

===== PRODUCTS =====
        unit_price
count    60.000000
mean    354.351000
std     514.712694
min      24.970000
25%      72.845000
50%     124.245000
75%     308.502500
max    1932.530000

===== ORDERS =====
          quantity   unit_price  discount_pct  gross_amount   net_amount  \
count  2225.000000  2225.000000   2225.000000   2225.000000  2225.000000
mean      2.966292   354.163991      0.115097   1049.257438   926.902701
std       1.426634   506.596786      0.068481   1711.115156  1510.243744
min      -1.000000    24.970000      0.000000     24.970000    20.110000
25%       2.000000    74.300000      0.060000    158.910000   143.730000
50%       3.000000   125.590000      0.110000    362.580000   314.530000
75%       4.000000   308.720000      0.160000    898.300000   796.500000
max       5.000000  1932.530000      0.300000   9662.650000  9179.520000

       delivery_days     returned  review_score
count    2181.000000  2225.000000   2115.000000
mean        4.112334     0.042247      4.357447
std         4.584551     0.201198      0.595541
min         0.000000     0.000000      2.000000
25%         1.000000     0.000000      4.000000
50%         3.000000     0.000000      4.000000
75%         6.000000     0.000000      5.000000
max        45.000000     1.000000      5.000000

In [42]:
# Inspection globale
for name, df in zip(["customers", "products", "orders"], [customers, products, orders]):
    print(f"\n===== {name.upper()} =====")
    print(df.head())

===== CUSTOMERS =====
  customer_id      age gender            city        segment signup_date
0       C0001       28      M        Gonaïves     Entreprise  2025-09-26
1       C0002       16      M        Gonaïves  Professionnel  2024-01-19
2       C0003  unknown      M      Saint-Marc    Indépendant  2024-05-05
3       C0004       46      F  Port-au-Prince  Professionnel  2024-11-16
4       C0005       19      M     Cap-Haïtien  Professionnel  2024-11-21

===== PRODUCTS =====
  product_id    category    brand      product_name  unit_price
0       P001      Laptop       HP      Ultrabook 14     1681.08
1       P002      Laptop     ASUS       Notebook 15     1058.14
2       P003       Livre  Manning  Data Engineering       40.16
3       P004  Accessoire    Anker       SSD externe       91.27
4       P005      Laptop       HP         Gaming 16     1123.49

===== ORDERS =====
  order_id customer_id product_id  order_date  quantity  unit_price  \
0   O00001       C0201       P031  2024-06-16         4      165.54
1   O00002       C0141       P041  2024-06-10         5       46.48
2   O00003       C0025       P005  2024-08-29         2     1123.49
3   O00004       C0188       P042  2024-01-27         2       68.31
4   O00005       C0023       P052  2025-08-06         3     1932.53

   discount_pct  gross_amount  net_amount payment_method   channel  \
0          0.18        662.16      542.97          Carte       App
1          0.14        232.40      199.86          Carte       Web
2          0.04       2246.98     2157.10       Virement       Web
3          0.22        136.62      106.56          Carte  Boutique
4          0.17       5797.59     4812.00          Carte       Web

       marketing_source  delivery_days  returned  review_score        segment  \
0             Organique            1.0         0           5.0    Indépendant
1       Réseaux sociaux            0.0         0           4.0       Étudiant
2       Réseaux sociaux            3.0         0           4.0       Étudiant
3           Partenariat            0.0         0           4.0    Indépendant
4  Référencement payant            9.0         0           5.0  Professionnel

             city category
0  Port-au-Prince    Cours
1         Abidjan    Livre
2     Cap-Haïtien   Laptop
3         Abidjan    Cloud
4     Cap-Haïtien   Laptop

## 2. Nettoyage

In [46]:
# 1. Correction de types
customers["signup_date"] = pd.to_datetime(customers["signup_date"], errors="coerce")
orders["order_date"] = pd.to_datetime(orders["order_date"], errors="coerce")

customers["age"] = pd.to_numeric(customers["age"], errors="coerce")

orders["discount_pct"] = (
    orders["discount_pct"]
    .astype(str)
    .str.replace("%", "")
    .astype(float)
    / 100
)

In [47]:
customers["gender"].fillna("Unknown", inplace=True)
customers["city"].fillna("Unknown", inplace=True)

orders["delivery_days"].fillna(orders["delivery_days"].median(), inplace=True)
orders["review_score"].fillna(orders["review_score"].mean(), inplace=True)

In [48]:
orders = orders.drop_duplicates()

## 1. Overview

## 2. Chargement et compréhension de données

In [53]:
# 2.1. Importation des bibliothèques
# Importation de bibliothèque
import pandas as pd
import numpy as np

In [54]:
# 2.2. Chargement des datasets
customers = pd.read_csv("customers.csv")
products = pd.read_csv("products.csv")
orders = pd.read_csv("order_lines.csv")

In [ ]:
# 2.3. Informations de base (head(), shape, info(), describe(include("all")))

In [ ]:
# 2.4. Vérification de types, valeurs abbérantes et manquantes

### $Commentaire$

## 3. Nettoyage

In [ ]:
# 3.1. Conversion de types

In [ ]:
# 3.2. Traitement des Valeurs manquantes

In [ ]:
# 3.3. Doublons

In [ ]:
# 3.4. Valeurs abbérantes

### $Commentaire$
order_lines_clean.csv + 5 règles de nettoyage documentées

## 4. Indicateur Clé de Performance

In [ ]:
# 4.1. Chiffre d'affaires mensuel et total

In [ ]:
# 4.2. Panier moyen

In [ ]:
# 4.3. Taux de remise moyen (global et par catégorie)

In [ ]:
# 4.4. Taux de retour

In [ ]:
# 4.5. Score moyen (global, par catégorie, par délai de livraison)

## 5. Jointures

In [50]:
# 5.1. Vérification de clés

In [ ]:
# 5.2. Jointures
# Jointures Ventes <==> Clients

# Jointures Résultat <==> Produits

In [ ]:
# 5.3. Qualité de la jointure (shape, ligne sans match)

In [51]:
# 5.4. Calcul de colonne Business
# gross_amount_calc = unit_price * quantity
# discount_pct converti en numérique
# net_amount_calc = gross_amount_calc * (1- discount_pct)

In [52]:
### $Commentaire$
Comparer avec gross_amount et net_amount existants

In [ ]:
# Créer une colonne amount_diff = net_amount- net_amount_calc
# Identifier les lignes “suspectes” (ex : abs(amount_diff) > 0.01)

## 6. Analyse

In [ ]:
# Produire un tableau (DataFrame) : CA net par segment client et par catégorie produit, trié
décroissant.

### $Commentaire$
 5 lignes de commentaires : ce que vous avez observé